.vs/
.vscode/settings.json
*.dll
*.pdb
*.sln
*.unrealvs
Binaries/*
Build/Windows
Build/WindowsServer
DerivedDataCache
enc_temp_folder
Intermediate/
Saved/
Script/Binds.Cache
Script/Binds.Cache.Headers
Tools/Steam/Content
UpgradeLog.htm
Plugins/AdvancedSessions/Binaries/*